.pagina-home {
  height: 100%;
  background: rgb(3,121,18);
  background: linear-gradient(186deg, rgba(3,121,18,0.7) 0%, rgba(191,189,15,1) 43%, rgba(255,255,255,1) 78%);
  }

.sezione-home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 52px;
  padding-top: 8%;
}

.immagine-home {
  height: 450px;
}

.descrizione {
  width: 590px;
  font-size: 22px;
  font-weight: 100;
  color: rgb(69, 104, 43);
  text-align: center;
}

.p-descrizione {
  font-weight: 600;
  font-size: 22px;
  color: rgb(65, 97, 40);
  margin-top: 30px;
  text-align: center;
}

@media (min-width: 200px) and (max-width: 1000px) {
  .descrizione {
    opacity: 0%;
  }
}