* {
  margin: 0;
}

.titolo-sezione {
  font-size: 35px;
  text-align: center;
  margin-top: 140px;
  margin-bottom: 100px;
}

section {
  display: flex;
  flex-direction: row;
  column-gap: 80px;
  justify-content: center;

}

.paragrafo-l-azienda {
  text-align: justify;
  width: 540px;
  padding: 30px 50px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(157, 157, 157);
}

.immagine-orto {
  width: 540px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(157, 157, 157);
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 0 0 0;
  width: 100%;
  text-align: center;

  background-color: rgb(228, 222, 222);
  border-top: 1px gray solid;
  font-size: 16px;
}

.dove-siamo,
.loghi,
.contatti {
  margin: 20px 0 20px 0;
  font-size: 16px;
}