* {
  margin: 0;
}

.pagina-la-bava-di-lumaca {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 30px;
  font-family: 'MV Boli', sans-serif;
  height: 1300px;
}

.riga {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#titolo {
  text-align: center;
  margin-top: 8%;
  margin-bottom: 4%;
  height: 50px;
}

h2 {
  margin-bottom: 8px;
}

img {
  border-radius: 20px;
  box-shadow: 0 0 10px gray;
}

p {
  width: 620px;
}

.testo {
  font-size: 18px;
}

#testo-1 {
  margin-left: 70px;
}

#testo-2 {
  margin-right: 70px;
}

.lumaca {
  width: 300px;
}

.cosmesi-1 {
  position: relative;
  top: 60px;
}

.cosmesi-2 {
  position: relative;
  left: 180px;
  top: -20px;
}

.img-cosmesi-1 {
  width: 280px;
}

.img-cosmesi-2 {
  width: 270px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 0 0 0;
  padding: 20px 0 20px 0;
  width: 100%;
  text-align: center;

  background-color: rgb(228, 222, 222);
  border-top: 1px gray solid;
  font-size: 16px;
}

@media (min-width: 200px) and (max-width: 1000px) {
  img {
    display: none;
  }

  p {
    text-align: center;
    width: 90%;
  }

  .riga {
    align-items: center;
    justify-content: center;
    margin: none;
  }

  #testo-1,
  #testo-2 {
    margin: 0px;
  }
}

