.navbar {
  height: 50px;
  padding: 5px 0px;
  background-color: white;

  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(209, 202, 202);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  font-weight: 100;
  font-size: 17px;

  z-index: 1000;
}

.la-bava-di-lumaca,
.prodotti,
.contatti,
.ordini {
  margin-left: 40px;
}

.home,
.prodotti,
.contatti,
.ordini {
  color: rgb(51, 50, 50);
}

.la-bava-di-lumaca {
  color: rgb(86, 157, 64);
  font-size: 18px;
}

.home:hover,
.la-bava-di-lumaca:hover,
.prodotti:hover,
.contatti:hover,
.ordini:hover {
  text-shadow: 0 0 10px rgb(135, 151, 131);
  cursor: pointer;
  font-size: 19px;
  transition: 0.5s;
}

.link-home:link,
.link-home:visited,
.link-prodotti:link,
.link-prodotti:visited,
.link-contatti:link,
.link-contatti:visited,
.link-ordini:link,
.link-ordini:visited {
  color: rgb(51, 50, 50);
  text-decoration: none;
}

.link-la-bava-di-lumaca:link,
.link-la-bava-di-lumaca:visited {
  color: rgb(86, 157, 64);
  text-decoration: none;
}

