.sezione-ordini {
  margin-top: 110px;
  text-align: center;

  height: 100%;
}

.info-ordini {
  text-align: center;

  margin-top: 50px;
  font-size: 25px;
}

#titolo-ordini {
  margin-top: 20px;
}

.mail,
.numero {
  color: rgb(86, 157, 64);
  text-decoration: none;
}

.mail:link {
  color: rgb(86, 157, 64);
}

.mail:hover {
  text-shadow: 0 0 10px rgb(185, 173, 173);
  cursor: pointer;
  transition: 0.3s;
}


.lalumacadelsole {
  margin-top: 80px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(86, 157, 64);
}

.info {
  font-size: 25px;
}

#mail {
  margin-bottom: 50px;
}

footer {
  margin-top: 100px;
  text-align: center;
}