
.sezione-ordini {
  margin-top: 110px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.info-ordini {
  margin: 0 20% 50px 20%;
}

p {
  margin-top: 40px;
}

img {
  width: 300px;
}

.mail,
.numero {
  color: rgb(86, 157, 64);
  text-decoration: none;
}

.mail:link {
  color: rgb(86, 157, 64);
}

.mail:hover {
  text-shadow: 0 0 10px rgb(130, 206, 107);
  cursor: pointer;
  transition: 0.3s;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px 0 0 0;
  width: 100%;
  text-align: center;

  background-color: rgb(228, 222, 222);
  border-top: 1px gray solid;
  font-size: 16px;
}

.dove-siamo,
.loghi,
.contatti {
  margin: 20px 0 20px 0;
  font-size: 16px;
}



