*{
  margin: 0;
  padding: 0;
}

.pagina-prodotti {
  height: 100%;
  }

#titolo-prodotti {
  font-size: 45px;

  padding-top: 120px;
  margin-bottom: -40px;
}

.immagine-prodotto {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  border: solid rgb(64, 98, 41) 5px;
  box-shadow: 0 0 20px rgb(64, 98, 41);
  object-fit: cover;
}

.immagine-prodotto:hover {
  width: 102%;
  opacity: 85%;
  transition: 0.5s;
  cursor: pointer;
}

.grid-prodotti {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 150px;
  row-gap: 40px;
  margin: 100px 10% 0px 10%;
}

.grid-info-prodotti {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.nome-prodotto {
  font-weight: 600;
  margin-top: 15px;
  text-align: center;
}

.percentuale-bava {
  margin-top: 5px;
  text-align: center;
}

.prezzo-prodotto {
  font-size: 14px;
  margin-top: 8px;
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;

  position: absolute;
  top: 400%;
  left: 0%;
  width: 100%;
  text-align: center;

  background-color: rgb(228, 222, 222);
  border-top: 1px gray solid;
}

.dove-siamo,
.loghi,
.contatti {
  margin: 20px 0 20px 0;
}


@media (min-width: 650px) and (max-width: 1200px) {
  .grid-prodotti {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 200px) and (max-width: 650px) {
  .grid-prodotti {
    grid-template-columns: 1fr;
  }
}