* {
  margin: 0px;
}

body {
  margin: 0px;
  font-family: 'MV Boli', sans-serif;
}

.titolo-sezione {
  margin-top: -20px;
  text-align: center;
  color: rgb(86, 157, 64);
}

h1,
h2 {
  color: rgb(69, 108, 43);
}

.logo {
  width: 50px;
}

.footer-alimentazione{
  top: 200%;
}

.footer-cosmesi{
  top: 430%;
}

.footer-integratori{
  top: 100%;
}