* {
  margin: 0px;
}

body {
  margin: 0px;
  font-family: 'MV Boli', sans-serif;
  font-size: 18px;
}

h1,
h2 {
  color: rgb(69, 108, 43);
}

.logo {
  width: 50px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 0 0 0;
  width: 100%;


  text-align: center;

  background-color: rgb(244, 244, 244);
  border-top: 1px rgb(155, 153, 153) solid;
}

