* {
  margin: 0;
}

body {
  margin: 0px;
  font-family: 'MV Boli', sans-serif;
}

.titolo-sezione {
  margin-top: -20px;
  margin-bottom: 20px;
  text-align: center;
}

.logo {
  margin-left: 10px;
  width: 50px;
}